{% extends "base.html" %}

{% block title %}Pary to Party Announcement{% endblock %}

{% block content %}
{% endblock %}    
    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="">
          <label for="pid">Party ID</label> <br>
          <input name="pid" type="number"> <br>
          
          <label for="paid">Party Annoncement ID</label> <br>
          <input name="paid" type="number"> <br>
          
          <input type="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    