{% extends "base.html" %}

{% block title %}Party to Obligatory Task{% endblock %}

{% block content %}
<main>
  <section class="profile">
    <div>
      Your profile
    </div>

    <button class="btn">
      Post party
    </button>
  </section>

  <section class="admin">
    <form action="">
      <label for="pid">Party ID</label> <br>
      <select name="pid" id="pid"> </select><br>

      <label for="otid">Obligatory task ID</label> <br>
      <select name="otid" id="otid"></select> <br>

      <input type="submit" value="Submit">
      <script>
        fetch('/admin/parties').then((response) => {
          response.json().then((data) => {
            document.getElementById("pid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });

        fetch('/admin/obligatories').then((response) => {
          response.json().then((data) => {
            document.getElementById("otid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });
      </script>
    </form>
  </section>
</main>
{% endblock %}