{% extends "base.html" %}

{% block title %}Party to Party Notification{% endblock %}

{% block content %}
<main>
  <section class="profile">
    <div>
      Your profile
    </div>

    <button class="btn">
      Post party
    </button>
  </section>

  <section class="admin">
    <form action="">
      <label for="pid">Party ID</label> <br>
      <select name="pid" id="pid"> </select><br>

      <label for="pnid">Party Notification ID</label> <br>
      <select name="pnid" id="pnid"></select> <br>

      <input type="submit" value="Submit">
      <script>
        fetch('/admin/parties').then((response) => {
          response.json().then((data) => {
            document.getElementById("pid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });
        
        fetch('/admin/notifications').then((response) => {
          response.json().then((data) => {
            document.getElementById("pnid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });

      </script>
    </form>
  </section>
</main>
{% endblock %}