{% extends "base.html" %}

{% block title %}Party to Party Notification{% endblock %}

{% block content %}
    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="">
          <label for="pid">Party ID</label> <br>
          <input name="pid" type="number"> <br>
          
          <label for="pnid">Party Notification ID</label> <br>
          <input name="pnid" type="number"> <br>
          
          <input type="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    
