{% extends "base.html" %}

{% block title %}Party to Feedback{% endblock %}

{% block content %}
<main>

  <section class="admin">
    <form action="">
      <label for="pid">Party ID</label> <br>
      <select name="pid" required> <br>

      <label for="fid">Feedback ID</label> <br>
      <select name="fid" required> <br>

      <input type="submit" value="Submit">

      <script>
        fetch('/admin/feedbacks').then((response) => {
          response.json().then((data) => {
            document.getElementById("fid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });

        fetch('/admin/parties').then((response) => {
          response.json().then((data) => {
            document.getElementById("pid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });
      </script>
    </form>
  </section>
</main>
{% endblock %}