{% extends "base.html" %}

{% block title %}User to Messages{% endblock %}

{% block content %}

    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="">
          <label for="uid">User ID</label> <br>
          <input name="uid" type="number"> <br>
          
          <label for="mid">Message ID</label> <br>
          <input name="mid" type="number"> <br>
          
          <input type="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    
