{% extends "base.html" %}

{% block title %}Feedback #{{ fid }}{% endblock %}

{% block content %}
<main>
    <h1>Feedback #{{ fid }}</h1>

    {% if feedback is defined %}
    <table>
        <tr>
        {% for key in feedback[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for value in feedback[0].values() %}
        <td>{{ value }}</td>
        {% endfor %}
        </tr>
    </table>
    {% endif %}

    <section class="admin">

    </section>
</main>
{% endblock %}