{% extends "base.html" %}

{% block title %}User #{{ uid }}{% endblock %}

{% block content %}
<main>
    <h1>User #{{ uid }}</h1>

    {% if user is defined %}
    <table>
        <tr>
        {% for key in user[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for value in user[0].values() %}
        <td>{{ value }}</td>
        {% endfor %}
        </tr>
    </table>
    {% endif %}

    <section class="admin">

    </section>
</main>
{% endblock %}