{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}

    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="/admin/feedback" method="post">
          
          <label for="mid">Message ID</label> <br>
          <input name="mid" type="number" required> <br>

          <label for="pid">Party ID</label> <br>
          <input name="pid" type="number" required> <br>

          <label for="rating">Rating</label> <br>
          <input name="rating" type="number" required> <br>
          
          <input type="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    
