{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}

<main>
  <section class="profile">
    <div>
      Your profile
    </div>

    <button class="btn">
      Post party
    </button>
  </section>

  <section class="admin">
    <form action="/admin/feedback" method="post">

      <label for="mid">Message ID</label> <br>
      <select name="mid" id="mid" required> </select><br>

      <label for="pid">Party ID</label> <br>
      <select name="pid" id="pid" required> </select><br>

      <label for="rating">Rating</label> <br>
      <input name="rating" type="number" required> <br>

      <input type="submit" value="Submit">

      <script>
        fetch('/admin/parties').then((response) => {
          response.json().then((data) => {
            document.getElementById("pid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });

        fetch('/admin/messages').then((response) => {
          response.json().then((data) => {
            document.getElementById("mid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });
      </script>
    </form>
  </section>
</main>
{% endblock %}