{% extends "base.html" %}

{% block title %}Location{% endblock %}

{% block content %}

    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="">

          <label for="coords">Coordinates</label> <br>
          <input name="coords" type="text" required> <br>

          <label for="address">Address</label> <br>
          <input name="address" type="text" required> <br>
          
          <input type="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    
