{% extends "base.html" %}

{% block title %}Obligatory{% endblock %}

{% block content %}

<main>
  <section class="profile">
    <div>
      Your profile
    </div>

    <button class="btn">
      Post party
    </button>
  </section>

  <section class="admin">
    <form action="/admin/obligatory" method="post">
      <label for="tid">Task ID</label> <br>
      <select name="tid" id="tid"></select> <br>
      <label for="tid">Party ID</label> <br>
      <select name="pid" id="pid"></select> <br>

      <label for="login">Login</label> <br>
      <input name="login" type="text" required> <br>

      <label for="password">Password</label> <br>
      <input name="password" type="text" required> <br>

      <input type="submit" value="Submit">
      <script>
        fetch('/admin/tasks').then((response) => {
          response.json().then((data) => {
            document.getElementById("tid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });

        fetch('/admin/parties').then((response) => {
          response.json().then((data) => {
            document.getElementById("pid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });
      </script>
    </form>
  </section>
</main>
{% endblock %}