{% extends "base.html" %}

{% block title %}Party{% endblock %}

{% block content %}
    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="/admin/party" method="post">
          <label for="start_date">Start Date</label> <br>
          <input name="start_date" type="date" required> <br>
          
          <label for="start_time">Start Time</label> <br>
          <input name="start_time" type="time" required> <br>

          <label for="has_end">Does this party end?</label> <br>
          <input name="has_end" type="checkbox"> <br>

          <label for="end_date">End Date</label> <br>
          <input name="end_date" type="date" value="1970-01-01"> <br>
          
          <label for="end_time">End Time</label> <br>
          <input name="end_time" type="time" value="00:00"> <br>
          
          <label for="lid">Location ID</label> <br>
          <select name="lid" id="lid" required> </select> <br>

          <input type="submit" value="Submit">
          <script>
            fetch('/admin/locations').then((response) => {
              response.json().then((data) => {
                document.getElementById("lid")
                  .append(
                    ...data.options.map(opt => {
                      let optEl = document.createElement('option');
                      optEl.value = optEl.textContent = opt.toString();
                      return optEl;
                    })
                  );
              });
            });
          </script>
        </form>
      </section>
    </main>
{% endblock %}    
