{% extends "base.html" %}

{% block title %}Room{% endblock %}

{% block content %}

<main>
  <section class="profile">
    <div>
      Your profile
    </div>

    <button class="btn">
      Post party
    </button>
  </section>

  <section class="admin">
    <form action="">
      <label for="number">Room Number</label> <br>
      <input name="number" type="text" required> <br>

      <label for="building">Building</label> <br>
      <input name="building" type="text" required> <br>

      <label for="lid">Location ID</label> <br>
      <select name="lid" id="lid" required></select> <br>

      <input type="submit" value="Submit">

      <script>
        fetch('/admin/locations').then((response) => {
          response.json().then((data) => {
            document.getElementById("lid")
              .append(
                ...data.options.map(opt => {
                  let optEl = document.createElement('option');
                  optEl.value = optEl.textContent = opt.toString();
                  return optEl;
                })
              );
          });
        });
      </script>
    </form>
  </section>
</main>
{% endblock %}