{% extends "base.html" %}

{% block title %}Task{% endblock %}

{% block content %}
    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="">
          <label for="text">Text</label> <br>
          <input name="text" type="text" required> <br>
          
          <input type="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    
