{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block content %}
    <main>
      <section class="profile">
        <div>
          Your profile
        </div>

        <button class="btn">
          Post party
        </button>
      </section>

      <section class="admin">
        <form action="/admin/user" method="post">
          <label for="name">Name</label> <br>
          <input name="name" type="text" required> <br>

          <label for="photo">Photo</label> <br>
          <input name="photo" type="text"> <br>
          
          <label for="bio">Bio</label> <br>
          <input name="bio" type="text"> <br>
          
          <input type="submit" id="submit" value="Submit">
        </form>
      </section>
    </main>
{% endblock %}    
