{% extends "base.html" %}

{% block title %}Messages from User{% endblock %}

{% block content %}
    <main>
      <section class="admin">
        {% if user is defined %}
        <h1>Messages from user “{{ user }}”</h1>
        {% else %}
        <h1>No data yet — run a request!</h1> 
        {% endif %}
        
        {% if messages is defined %}
        <table>
          <tr>
            <th>Text</th>
            <th>Datetime</th>
          </tr>
          {% for message in messages %}
          <tr>
            {% for field in message %}
            <td>{{ field }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </section>
      <section class="admin">
        <form action="/admin/requests/get_messages_from_user" method="post">
          <label for="uid">User ID</label> <br>
          <select name="uid" id="uid"></select> <br>
  
          <input type="submit" value="Submit">

          <script>
            var uid_select = document.getElementById("uid");

            uid_select.onfocus = function()  {
                fetch('/admin/users').then(function(response) {
                    response.json().then(function(data) {
                        var optionHTML = '';

                        for (var uid of data.uids) {
                            optionHTML += '<option value="' + uid + '">' + uid + '</option>';
                        }

                        uid_select.innerHTML = optionHTML;
                    })

                });
            }
        </script>
        </form>
      </section>
    </main>
{% endblock %}    
