{% extends "base.html" %}

{% block title %}Search Locations{% endblock %}

{% block content %}

    <main>
      <section class="admin">
        {% if term is defined %}
        <h1>Locations which coordinates or address contain “{{ term }}”</h1>
        {% else %}
        <h1>No data yet — run a request!</h1> 
        {% endif %}
        
        {% if locations is defined %}
        <table>
            <tr>
            <th>Coordinates</th>
            <th>Address</th>
            </tr>
            {% for location in locations %}
            <tr>
              {% for field in ('coordinates', 'address') %}
              <td><a href="/location?lid={{ location['lid'] }}">{{ location[field] }}</a></td>
              {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
      </section>
    
      <section class="admin">
        <form action="/admin/requests/search_locations" method="post">
          <label for="term">Search Term</label> <br>
          <input name="term" id="term" type="text" required> <br>
  
          <input type="submit" value="Submit">
        </form>
      </section>
      <script>
        var coordinatinate_options = {{ tags.coordinates | tojson }}
        var address_options = {{ tags.addresses | tojson }}
        var location_options = coordinatinate_options.concat(address_options)
        $( "#term" ).autocomplete({
          source: function( request, response ) {
                  var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                  response( $.grep( location_options, function( item ){
                      return matcher.test( item );
                  }) );
              }
        });
      </script>
    </main>
{% endblock %}    
