{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<main>
  <section class="profile">
    <div>
      Your profile
    </div>

    <button class="btn">
      Post party
    </button>
  </section>

  <section class="posts">
    <div class="post">
      <h3>
        Party card placeholder
      </h3>
      <p>
        This is simple party post placeholder. Here will be information about average party at Jacobs.
        This is simple party post placeholder. Here will be information about average party at Jacobs.
        This is simple party post placeholder. Here will be information about average party at Jacobs.
        This is simple party post placeholder. Here will be information about average party at Jacobs.
      </p>
    </div>
  </section>

  <section class="feed">
    <div class="message">
      <h3>
        Quick message placeholder
      </h3>
      <p>
        This is typical message in line feed.
      </p>
    </div>

    <div class="message">
      <h3>
        Quick message placeholder
      </h3>
      <p>
        This is typical message in line feed.
      </p>
    </div>

    <div class="message">
      <h3>
        Quick message placeholder
      </h3>
      <p>
        This is typical message in line feed. This is typical message in line feed. This is typical message in line feed. This is typical message in line feed. This is typical message in line feed.
      </p>
    </div>

    <div class="message">
      <h3>
        Quick message placeholder
      </h3>
      <p>
        This is typical message in line feed.
      </p>
    </div>  
  </section>
</main>
{% endblock %}